.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2c3639;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: white;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 1.1rem;
  color: #000000;
}

.amount {
  font-weight: bold;
  border: 2px solid #eeeeee;
  padding: 0.2rem 0.7rem;
  border-radius: 4px;
  color: #eeeeee;
  align-content: center;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  /* color: #8a2b06;
  border: 1px solid #8a2b06; */
  width: 3rem;
  text-align: center;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.remove {
  color: #ffb54c;
  border: 2px solid #ffb54c;
  transition: all 0.4s;
}

.remove:hover,
.remove:active {
  background-color: #ffb54c;
  color: white;
}

.add {
  color: #7abd7e;
  border: 2px solid #7abd7e;
  transition: all 0.4s;
}

.add:hover,
.add:active {
  background-color: #7abd7e;
  color: white;
}
