.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 28px;
  color: #000000;
}

.amount {
  font-weight: bold;
  border: 2px solid #eeeeee;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  color: #eeeeee;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  /* color: #8a2b06;
  border: 1px solid #8a2b06; */
  width: 3rem;
  text-align: center;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.remove {
  color: #c41411;
  border: 2px solid #c41411;
}

.remove:hover,
.remove:active {
  background-color: #c41411;
  color: white;
}

.add {
  color: #056f00;
  border: 2px solid #056f00;
}

.add:hover,
.add:active {
  background-color: #056f00;
  color: white;
}
