.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  color: beige;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

input {
  transition: all 0.4s;
}

input:focus {
  background-color: #dcd7c9;
  outline: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #dcd7c9;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 2rem;
  transition: all 0.4s;
}

.actions button:hover,
.actions button:active {
  background-color: #2c3639;
}

.actions .submit {
  background-color: #2c3639;
  color: white;
  transition: all 0.4s;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: transparent;
}

.invalid label {
  color: #ffb54c;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.error-text {
  color: #ffb54c;
}
