.form {
  text-align: right;
}

.form label {
  color: whitesmoke;
}

.form button {
  font: inherit;
  cursor: pointer;
  /* background-color: #8a2b06; */
  background-color: #74412d;
  /* border: 1px solid #8a2b06; */
  border: 1px solid #74412d;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 6px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
