.form {
  text-align: right;
}

.form label {
  color: whitesmoke;
}

.form button {
  font: inherit;
  cursor: pointer;
  /* background-color: #8a2b06; */
  background-color: #3f4e4f;
  /* border: 1px solid #8a2b06; */
  border: 1px solid #3f4e4f;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.4s;
}

.form button:hover,
.form button:active {
  background-color: #2c3639;
  border-color: #2c3639;
}
