@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', monospace, sans-serif;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  margin: 0;
  /* background-color: #3f3f3f; */
  background-color: #3f4e4f;
}
